<%- include('header'); -%>
<div class="landing">
   <form id="create" class="form">
      <h2 class="title">Create Room</h2>
      <div class="input">
         <input type="text"id='create-room-input'placeholder="Room" required>
      </div>
      <div class="input">
         <input type="text"id='create-name-input'placeholder="Name"required>
      </div>
      <div class="input">
         <input type="text"id='create-name-input'placeholder="Passcode"required minlength="6">
      </div>
      <div class="submit">
         <button type="submit"id="create-submit-input"> Create </button>
      </div>

   </form>

   <div class="banner">
      <img src="/images/banner.jpg" alt="">
   </div>

</div>


 <script src="/js/home.js"></script>
 <%- include('footer'); -%>