<%- include('header'); -%>
<div class="landing">
   <form id="create" class="form">
      <h2 class="title">Create Room</h2>
      <div class="input">
         <input type="text"id='create-room-input'placeholder="Room Name" required>
      </div>
     
      <div class="input">
         <input type="text"id='create-passcode-input'placeholder="Passcode"required minlength="6">
      </div>
      <div class="submit">
         <button type="submit"id="create-submit-input"> Create </button>
      </div>

      <input type="text" id="temp-link-input"style="display:none;">
      <div class="join-details" id="join-details" >
         <h4>Join link</h4>
         <p id="join-link"></p>
         <div class="buttons">
            <button type="button" id="copy-btn">Copy Link</button>
            <button type="button"id="join-btn">Join</button>
         </div>
        
      </div>
   </form>

   <div class="banner">
      <img src="/images/banner.jpg" alt="">
   </div>

</div>


 <script src="/js/home.js"></script>
 <%- include('footer'); -%>