<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Join</title>
</head>
<body>
   <script>
      const room = "<%= room %>"
   </script>

   <form  id="join">
      <h1 class="title">Join room</h1>
      <div class="name">
         <input type="text"id='join-username-input'placeholder="username"required>
      </div>
      <div class="passcode">
         <input type="password" id='join-passcode-input'placeholder="passcode" required>
      </div>
      <div class="submit-join">
         <input type="submit" id='join-submit-input'value="Join" placeholder="room name...">
      </div>
   </form>
   <script src="/js/join.js"></script>
</body>
</html>
