<%- include('header') -%>  
<script>
   const room = "<%= room %>"
</script>
<div class="landing">
   <form  id="join" class="form">
      <h1 class="title">Join room</h1>
      <div class="input">
         <input type="text"id='join-username-input'placeholder="username"required>
      </div>
      <div class="input">
         <input type="password" id='join-passcode-input'placeholder="passcode" required>
      </div>
      <div class="submit">
         <button type="submit" id='join-submit-input'>Join</button>
      </div>
   </form>
   <div class="banner">
      <img src="/images/banner.jpg" alt="">
   </div>
</div>

<script src="/js/join.js"></script>

<%- include('footer') -%>
